body{
    margin:0;
    background: linear-gradient(rgb(255, 0, 0),rgb(0, 0, 0),rgb(255, 0, 0));
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

header{
    background-color: rgb(11, 228, 235);
    color:rgb(255, 0, 0);
    text-align:center;
    padding:15px;
    font-size:22px;
}

.container{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
}

.gallery-box{
    background-image: rgb(0, 0, 0);
    width:420px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(255, 0, 0, 0.15);
    text-align:center;
}

.gallery-box img{
    width:100%;
    height:260px;
    object-fit:contain;
    background-color:rgb(0, 0, 0);
    border-radius:8px;
}

.caption{
    margin-top:12px;
    font-size:16px;
    color:#10d8df;
}

.buttons{
    margin-top:15px;
    display:flex;
    justify-content:space-between;
}

.buttons button{
    padding:8px 18px;
    background-color:#0cbad8;
    color:rgb(0, 0, 0);
    border:none;
    border-radius:6px;
    font-size:14px;
    cursor:pointer;
}

.buttons button:hover{
    background: linear-gradient(rgb(255, 0, 0),rgb(0, 0, 0));
}

footer{
    text-align:center;
    padding:10px;
    font-size:13px;
    color:rgb(0, 0, 0);
}